@import "tailwindcss";

@font-face {
  font-family: 'Exwayer';
  src: url('./assets/exwayer.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-raleway: "Raleway", "sans-serif";
  --font-exwayer: "Exwayer", "serif";
  --color-yellow: #e7a006;
  --color-blue: #3B4D72;
  --color-ash: #1A1721; 
}